.FilmCard{
    flex: 0 0 31%;
    margin-right: 2%;
    margin-bottom: 20px;
    min-width: 200px;
    position: relative;
    padding: 8px;
    background-color: #a6bfcc;
    box-shadow: 0 0 3px 3px rgba(33,33,33,.7);
    border-radius: 2px;
}

.FilmCard__header{
    padding-right: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.6em;
}

.FilmCard__delete:hover{
    transition: background-color 0.5s linear;
    background-color: #62efff;
}

.FilmCard__body{
    margin-bottom: 20px;
    line-height: 1.3;
}

.FilmCard__rating{
    margin-bottom: 16px;
    font-size: 18px;
}