*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  margin: auto auto 2vh;
  max-width: 1280px;
  /*width: 70%;*/
  font-family: Roboto, sans-serif;
  background-color: #4a626d;
  /*text-align: center;*/
}

li{
  display: list-item;
}

