.WatchList{
    position: relative;
    min-height: 350px;
    max-height: 72vh;
    overflow-y: auto;
    padding: 12px 8px;
    border-radius: 4px;
    background-color: #00bcd4;
}

.WatchList__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #0c161e;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 15px;
}

.WatchList__title:after, .WatchList__title:before {
    display: block;
    margin: 0 10px;
    content: "";
    width: 15%;
    height: 2px;
    background-color: #0c161e;
}